# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

log/
saved/
*.json
*.pth
*.pt
*.onnx
*.avi

trash/
video/
onnx_model/
inference_sample/
out_tensor/
timm_bk/

old_code_script/
config_old/
